<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tipo de Cadastro - Mercado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>

    <header>
        <h1>MODO DE HOMOLOGAÇÃO</h1>
    </header>

    <main>
        <h3 class="titulo-secao">O QUE DESEJA CADASTRAR?</h3>
        
        <section class="nav-container">
            
            <a href="/produtos/existentes" class="menu-card" autofocus>
                <h2>PRODUTO EXISTENTE</h2>
                <p>Itens de mercado com código de barras (EAN-13)</p>
            </a>

            <a href="/produtos/internos" class="menu-card">
                <h2>PRODUTO INTERNO</h2>
                <p>Itens artesanais, pães ou bolos (Sem código)</p>
            </a>

        </section>
    </main>

    <footer class="footer-central">
        <small>Pressione ESC para retornar ao Menu Principal</small>
    </footer>
    
    <script src="{{ url_for('static', filename='js/navegacao.js') }}"></script>
</body>
</html>